.posts-summary {
	&-title {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.875rem;

		&-wrapper {
			display: flex;
			border-bottom: 1px solid $gray-500;
			align-items: center;
			padding-bottom: .75rem;
		}	
	}

	&-link {
		@include link-arrow();

		margin-left: auto;
		text-decoration: none;
		color: $black;
		font-weight: bold;
		font-size: 0.719rem;
		text-transform: uppercase;
	}

	.news-entry-thumbnail-image {
		@include media-breakpoint-down(lg) {
			aspect-ratio: 2 / 1 !important;
		}

		@include media-breakpoint-up(lg) {
		height: 350px;
		}
	}
}