

/**************************************************************************
 * CONTENT
 **************************************************************************/

#content					{ overflow:hidden; }
#content .post-item			{ overflow:hidden; }


/**************************************************************************
 * COMMENTS
 **************************************************************************/

#content #commentform INPUT	{ float:none; display:inline; }


/**************************************************************************
 * QUICKLINKS REGION
 **************************************************************************/
#quicklinks UL				{ display:inline; }
#quicklinks LI				{ display:inline; }


/**************************************************************************
 * FOOTER REGION
 **************************************************************************/
#footer						{ overflow:hidden; }
