{% extends 'layouts/base.html.twig' %}

{% block content %}

	<div class="content-area row">

		<main class="main-content col" role="main">

			<article class="post-content">
				<div class="alert alert-danger d-flex">
					Sorry, we couldn't find what you were looking for. Please try searching.
				</div>
				{% include 'partials/search-form.html.twig' %}
			</article>

		</main>

	</div>

{% endblock %}