@mixin fancy-heading() {
	position: relative;
	display: flex;
	z-index: 2;

	font-size: 2.25rem;

	@include media-breakpoint-down(lg) {
		font-size: 1.75rem;
	}

	background: $white;
	color: var(--bs-primary);
	font-family: var(--ff-serif-font-family);
	padding: 0 1rem;

	margin: 0;
}

@mixin fancy-heading-wrapper() {
	margin-bottom: 2rem;
	margin-top: 2rem;

	position: relative;
	display: flex;
	justify-content: center;

	&::before {
		z-index: 1;
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		border-top: 3px solid var(--bs-secondary);
	}
}
