{% extends 'layout/base.html.twig' %}

{% block content %}

	<main role="main " class="entry pb-20 {{ post.class }}">
		{% include 'partials/simple-header.html.twig' with { title: "404: Page not found"}  %}

		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="entry-content">
						<p class="text-center">Sorry, we couldn't find what you were looking for. <br>
						Try finding the page in the navigation menu above or use the search form below.
						<p>
						<div class="mt-12 mx-auto" style="max-width:400px">
							{% include 'searchform.html.twig' %}
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
