.site-footer-widgets {
	font-size: 0.875rem;
	padding: 70px 0;

	.widget {
		margin-bottom: 2rem;
		text-align: center;

		display: flex;
		flex-direction: column;
		justify-content: center;

		@include media-breakpoint-up(sm) {
			justify-content: flex-start;
			text-align: left;
		}

		&-title,
		h2 {
			color: var(--ff-footer-widget-heading);
			font-size: 1.125rem;
			margin-bottom: .75rem;
		}

		p {
			margin-bottom: 1rem;
		}
	}

	.menu {
		list-style: none;
		padding-left: 0;
	}
}