body,
#app {
    min-height: 100vh;
}

body {
    background: var(--ff-page-bg);
}

#app {
    max-width: $max-layout-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: var(--ff-page-content-bg);
    box-shadow: 0px 0px 15px 8px rgba($black, 0.2);
	transition: padding-top .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

// limit maximum content width of blocks and content iniside entry-content
.entry-content > *:not(.alignwide):not(.alignfull):not(.container) {
    @include max-content-width();
}

.entry-content.container-fluid .container {
	padding-left: 0;
	padding-right: 0;
}