#footer .widgets {
	position:relative;
	background-color:$gray-800;
	color:$white;

	.widget {
		padding-bottom:spacer();
	}

	IMG 							{ width:auto; }
	.widget-title 					{ font-size:1.5rem; color:$white; }

	// if widget does not have a col class, make it behave as a .col
	// .widget:not([class*='col-']) 	{ flex:1; }

	// menu widget
	.widget_nav_menu {
		.menu 			{
			padding-left:0; margin:0;
			list-style:none;

			@include media-breakpoint-up(sm) {
				columns:2;
			}
		}

		A 				{ display:block; }
	 }

	 // gallery widget
	 .rl-gallery-widget {
		 .widget-title 				{ text-align:center; }
	 }
}