<!-- wp:generateblocks/container {"uniqueId":"aa1584dd","isDynamic":true,"blockVersion":3} -->
<!-- wp:template-part {"slug":"article-header","theme":"buzz-2023"} /-->

<!-- wp:generateblocks/container {"uniqueId":"1024c01a","isDynamic":true,"blockVersion":3,"sizing":{"maxWidth":"1200px"},"marginRight":"auto","marginLeft":"auto","paddingRightMobile":"1","paddingLeftMobile":"1","paddingUnit":"em"} -->
<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:generateblocks/grid {"uniqueId":"83f8c51f","columns":2,"horizontalGap":15,"isDynamic":true,"blockVersion":3} -->
<!-- wp:generateblocks/container {"uniqueId":"57085c1e","isGrid":true,"gridId":"83f8c51f","isDynamic":true,"blockVersion":3,"sizing":{"width":"25%","widthMobile":"100%"}} -->
<!-- wp:buzz/article-sidebar {"showFeaturedImage":true} -->
<!-- wp:heading {"level":3,"placeholder":"Sidebar heading...","className":"bz-article-sidebar-title"} -->
<h3 class="wp-block-heading bz-article-sidebar-title">In this issue</h3>
<!-- /wp:heading -->
<!-- /wp:buzz/article-sidebar -->
<!-- /wp:generateblocks/container -->

<!-- wp:generateblocks/container {"uniqueId":"f81418d4","isGrid":true,"gridId":"83f8c51f","isDynamic":true,"blockVersion":3,"sizing":{"width":"75%","widthMobile":"100%"}} -->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"minHeight":646,"contentPosition":"bottom right","isDark":false,"className":"bz-article-featured-image"} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-right bz-article-featured-image" style="min-height:646px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:generateblocks/container {"uniqueId":"a2cc622a","backgroundColor":"#16bdd1","isDynamic":true,"blockVersion":3,"display":"flex","alignItems":"center","justifyContent":"center","sizing":{"width":"","height":"360px","maxWidth":"360px","maxHeight":"360px"},"paddingTop":"0","paddingRight":"2","paddingBottom":"0","paddingLeft":"2","paddingUnit":"em","className":"bz-post-excerpt-wrapper"} -->
<!-- wp:post-excerpt {"style":{"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"36px"}},"className":"bz-post-excerpt"} /-->
<!-- /wp:generateblocks/container --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-content /-->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buzz/article-nav {"uniqueId":"a4f84e32-7e94-4b0e-8486-54ac6f8a3651","showThumbnail":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|vivid-cyan-blue"}}}},"textColor":"primary","className":"is-style-centred"} /-->
<!-- /wp:generateblocks/container -->
<!-- /wp:generateblocks/grid -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- /wp:generateblocks/container -->
<!-- /wp:generateblocks/container -->

<!-- wp:template-part {"slug":"footer","theme":"buzz-2023","tagName":"footer"} /-->