<div class="offcanvas-overlay"></div>
<div class="offcanvas">
    <div class="offcanvas__head">
        <div class="col-12 d-flex align-items-center">
			{% if site_logo_image %}
				<a class="homelink" href="{{ site.url }}">
					{{ site_logo_image }}
				</a>
			{% endif %}
            <span class="close ml-auto">
                <span class="fa fa-times"></span>
            </span>
        </div>
	</div>

	{# Social media links #}
	<div class="offcanvas__toolbar shaded">
		{% include 'partials/social-links.twig' %}
	</div>

	{# Search form #}
	{% if show_nav_search %}
		<div class="offcanvas__block shaded">
			<div class="navbar-search">
				{% include 'partials/search-form.twig' %}
			</div>
		</div>
	{% endif %}

	<div class="offcanvas__navigation">
		<ul class="navbar-nav">

			{% include 'layouts/navbar/newsletter-info-offcanvas.twig' %}

			<li class="nav-item menu-item">
				<a class="nav-link" href="{{site.link}}">Latest Issue</a>
			</li>

			{% set menu = menus.primary.get_items %}
			{% include 'layouts/navbar/menu-items.twig' %}
		</ul>
	</div>

</div>