{% extends 'layout/base.html.twig' %}

{% block content %}

    <main role="main" class="entry {{ post.class }}">
        <div class="container">
            <div class="row">
                <div class="entry-header col-12">
                    <h1 class="entry-heading">{{ title }}</h1>
                </div>

                <div class="col-12">
                    <div class="entry-content">
                        
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}