{% extends 'layout/base.html.twig' %}

{% block content %}

    <main role="main" class="entry {{ post.class }} py-8">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="entry-content">
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}