/**
 * Applies to all of newsletter index page
 */
.newsletter-index {

	.section-title,
	.widget-title {
		position: relative;
		margin-top:spacer(8);
		margin-bottom: spacer(8);
		text-align:center;
	}

}