/* STYLE: DEFAULT */
.wp-block-pullquote {
	padding: 0;
	position: relative;

	&.alignleft,
	&.alignright {
		max-width: calc(100% - 4rem);
	}

	&::before {
		background: #fff;
		border-radius: 50%;
		color: var(--bz-accent);
		content: "”";
		display: block;
		font-size: 6.2rem;
		font-weight: 500;
		line-height: 1.2;
		margin: 0 auto 1.5rem auto;
		text-align: center;
		height: 4.4rem;
		width: 4.4rem;
	}

	blockquote {
		border: none;
		margin: 0;
		padding: 0;

		p {
			font-family: inherit;
			font-size: 1.8rem;
			font-weight: 700;
			line-height: 1.178571429;
			letter-spacing: -0.041785714em;
			max-width: 100%;
		}
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	cite {
		color: #6d6d6d;
		font-size: 1.6rem;
		font-weight: 500;
		margin-top: 1.2rem;
	}

	&.alignleft {
		text-align: left;

		p {
			font-size: 1.8rem;
		}

		&::before {
			margin-left: 0;
		}
	}

	&.alignright {
		text-align: right;

		p {
			font-size: 1.8rem;
		}

		&::before {
			margin-right: 0;
		}
	}

	&.is-style-solid-color {
		padding: 3rem 2rem;

		&::before {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
		}

		&.alignleft::before,
		&.alignright::before {
			transform: translateY(-50%);
		}

		&.alignleft::before {
			left: 2rem;
		}

		&.alignright::before {
			left: auto;
			right: 2rem;
		}

		blockquote {
			max-width: 100%;
			text-align: inherit;
		}

		cite {
			color: inherit;
		}
	}

	&.has-border-color {
		padding: 3rem 2rem;
	}
}

.reduced-spacing {
	.wp-block-pullquote {
		&::before {
			border: 0.1rem solid currentColor;
			font-size: 5.9rem;
		}
	}
}