.gform_wrapper.gravity-theme {
    // progress bar
    .percentbar_blue {
        background: var(--bs-primary) !important;
    }

    select,
    textarea,
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
        border: 1px solid $gray-500;
        padding: 0.5rem;
    }

    input[type="button"],
    input[type="submit"],
    button[type="button"],
    button[type="submit"] {
        @extend .wp-block-button__link;
        border: none;
        background: var(--bs-primary);
        color: $white;
    }

    .gfield_label {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: var(--bs-primary);
		font-size: 1rem;
    }

    .gform_fields.left_label .gfield_label {
        @include media-breakpoint-up(sm) {
            text-align: right;
            padding-right: 1em;
        }
    }

	// fix alignment in address field (standardise space between fields even when wrapped)
	.ginput_container_address span {
		margin-bottom: 8px !important;
	}

    // fix for left-aligned label with complex field
    .gform_fields.left_label fieldset,
    .gform_fields.right_label fieldset {
        @include media-breakpoint-up(sm) {
            display: flex;
        }
    }

    // nested entries
    .gpnf-nested-entries {
        width: 100%;

        .gpnf-row-actions {
            button {
                @extend .wp-block-button__link;

                padding: 0.25rem 1rem;
                text-decoration: none;
                border: 1px inset transparent;

                &.edit-button {
                    background: $white;
                    color: $black;
                    border: 1px inset $black;
                }

                &.delete-button {
                    background: $danger;
                    color: $white;
                }
            }
        }
    }
}
