<div class="container">
  <div class="row">
    <div class="col-12">
      <form action="{{ site.link }}/wp-login.php?action=postpass" class="post-password-form" method="post">
        <p>Fill in your password to access our content. Contact Us for help.</p>
        <div>
          <label class="form-label" for="pwbox-{{ post.id }}">Password</label>
          <input class="form-control" name="post_password" id="pwbox-{{ post.id }}" type="password" maxlength="20">
          <input class="btn btn-primary mt-3" type="submit" name="Submit" value="Enter">
        </div>
      </form>
    </div>
  </div>
</div>