{% extends 'layouts/base.html.twig' %}

{% block content %}

	<div class="content-area row">
		<main class="main-content col" role="main">

			<article class="post-content">

				<h1>{{title}}</h1>

				{% if posts %}
					<div class="row">
						{% for post in posts %}

						<article class="archive-tease archive-tease--column mb-5 col-md-3">

							{% include 'partials/article-card.html.twig' with {
								'hide_thumb': false,
								'hide_excerpt' : true,
								'show_date': true,
								'date_format': '%e %B %Y'
							} %}

						</article>

						{% endfor %}
					</div>
					{% include 'partials/pagination.html.twig' %}
				{% endif %}

			</article>

		</main>
	</div>

{% endblock %}