// Global CSS

BODY 				{ line-height:1.5; }
.custom-background	{ background-color:#222222; }
#site 				{ display:flex; box-shadow:0 0 7px 5px rgba(0,0,0,0.15);
    				  flex-direction:column; overflow:hidden; }
.content-area 		{ padding:0; }
