<div class="search-dropdown-wrapper dropdown">
	<button class="nav-link search-dropdown" type="button" id="search-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
		<span class="fa-regular fa-magnifying-glass search-dropdown-button-icon"></span>
	</button>
	<div class="dropdown-menu search-dropdown" aria-labelledby="search-dropdown">
		{% include 'partials/search-form.html.twig' %}
	</div>
</div>

