.sidebar {
	padding-top:spacer(8); padding-bottom:spacer(8);

	@include media-breakpoint-up(md) {
		&.position-left {
			@extend .order-md-first;
			padding-left:spacer(8); padding-right:0;
		}

		&.position-right {
			padding-right:spacer(8); padding-left:0;
		}
	}

	.in-this-issue {
		.section-title 		{ color:$primary; }
		.category-title 	{ margin:25px 0 10px;
							  color:$primary; }

		.featured A::before	{ content:'Featured'; display:block;
							  text-transform:uppercase; font-size:80%; font-weight:bold; }

		&__list {
			margin:0; padding:0; list-style:none;

			.article-item {
				position:relative; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid $gray-100;
				font-size:1.05rem;

				A 			{ display:block; }
			}
		}
	}

}
