<p class="text-center">This content is password protected.</p>

<form action="{{ site.link }}/wp-login.php?action=postpass" class="post-password-form" method="post">
	<label class="form-label" for="pwbox-{{ post.id }}">Password</label>
	<input class="form-control" name="post_password" id="pwbox-{{ post.id }}" type="password" maxlength="20" size="20">
	<input class="btn btn-primary" type="submit" name="Submit" value="Enter">
</form>
