<div class="search-partial">
    <a class="search-partial-link" href="{{ post.link }}">
        <h4 class="search-partial-title">{{ post.title }}</h4>
    </a>
    <p class="search-partial-url">{{ post.link }}</p>
    <p class="search-partial-preview">{{ post.preview.read_more(false) }}</p>
</div>