{% if not hide_footer_cta and menus.footer_cta.get_items | length %}
<section id="footer-cta" class="footer-cta">
	<div class="container">
		<div class="row">
			<div class="col-12 footer-cta-wrapper">
				{% for item in menus.footer_cta.get_items %}
					<a class="btn btn-outline footer-cta-button" href="{{ item.link }}">{{ item.title }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endif %}