<section class="site-footer-widgets">
	<div class="container-fluid px-xl-12">
		<div class="row">
			<div
				class="col-12 d-xxl-block col-xxl-3">
				{# include footer branding #}
				{% include 'layout/footer-branding.html.twig' %}
			</div>

			<div class="col-12 col-sm-6 col-lg-3 col-xxl-2">
				{{ widget_footer_column_one }}
			</div>
			<div class="col-12 col-sm-6 col-lg-3 col-xxl-2">
				{{ widget_footer_column_two }}
			</div>
			<div class="col-12 col-sm-6 col-lg-3 col-xxl-2">
				{{ widget_footer_column_three }}
			</div>
			<div class="col-12 col-sm-6 col-lg-3 col-xxl-3">
				{{ widget_footer_column_four }}
			</div>
		</div>
	</div>
</section>
