{# 'has_thumb' should be set at the start of the loop in all article template twigs #}
{% set length = has_thumb ? config.excerpt.image : config.excerpt.no_image %}
{{ post.preview.length(length).read_more(false) | wpautop }}
<div>
<a href="{{ post.link }}" class='readmore'>
    <p>Read full article</p>
</a>
</div>