<h1
	class="article-index-title">
	{# Title #}
	{{ post.title }}
	{# edit link #}
	{% if function('current_user_can', 'edit_pages') %}
		{% set edit_url = function('get_edit_post_link', post.id ) %}

		<a href="{{ edit_url }}" class="article-index-edit-link">[Edit]</a>

	{% endif %}
</h1>
