<form class="form-inline search-form" role="search" method="get" action="{{site.url}}">
	<div class="input-group">
		<input class="form-control"
			type="search"
			placeholder="{{ __('Search', 'firefly')|e }}"
			aria-label="Search"
			id="s"
			name="s"
			value="">
		<div class="input-group-append">
			<button class="btn" type="submit">
				<span class="far fa-search"></span>
			</button>
		</div>
	</div>
</form>