<tr id="email-header">
    <td align="center" valign="top">
        <table cellpadding="0" cellspacing="0" width="640">

            {% include 'email/header/view-in-browser.html.twig' %}
            {% include 'email/header/header.html.twig' %}
			{% if hero.show and hero.position == 'above' %}{% include 'email/header/hero.html.twig' %}{% endif %}
			{% include 'email/header/navbar.html.twig' %}
			{% if hero.show and hero.position == 'below' %}{% include 'email/header/hero.html.twig' %}{% endif %}

        </table>
    </td>
</tr>