/*
 * Scripts loaded by the WordPress editor either TinyMCE or Gutenberg
 * This file should be limited to typography and media styling
 */

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Gutenberg Blocks
@import 'mixins/index';
@import "gutenberg/index";

.editor-styles-wrapper {
    @import "~bootstrap/scss/bootstrap";
    @import "typography";

    // bootstrap interfering with this
    .dashicons,
    .dashicons::after {
        font-family: "dashicons" !important;
        font-size: 20px;
    }

    // make it so we can see white text
    .has-white-color {
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    }

    & > * {
        font-family: $font-family-base;
    }

    // make spacer visible
	 .wp-block-spacer {
        .block-library-spacer__resize-container {
            background: rgba($gray-100, 0.5);
            border: 2px dotted $gray-300;
        }
    }

    // outline carbon fields
    .wp-block[data-type^="carbon-fields"] {
        position: relative;
        padding: 2rem 1rem;
        background: $gray-100;
        border: 2px solid $gray-500;

        &::before {
            content: attr(data-title);
            position: absolute;
            top: 0;
            left: 1rem;
            background: $white;
            text-transform: uppercase;
            font-size: 0.75rem;
            transform: translateY(-50%);
            color: $gray-500;
            padding: 0.25rem 1rem;
            border: 2px solid $gray-500;
        }
    }
}

/* Main column width */
.wp-block {
    max-width: 768px;

    &:not([data-align="wide"]):not([data-align="full"]) {
        .is-style-container-medium {
            width: 960px;
            transform: translateX(-96px);
        }
    }
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1170px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}
