<form class="input-group search-form" role="search" method="get" action="{{site.url}}">
	<input class="search-form-input form-control" type="search" placeholder="Search" aria-label="Search" id="s" name="s" value="">
	<button class="search-form-btn btn m-0" type="submit">Search</button>
</form>