// this is how wide the outer wrapper is
$max-layout-width: 1980px !default;

// enable CSS grid
// $enable-cssgrid: true !default;

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #fbfbfb !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999999 !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
// brand colours
$blue:      #005497 !default;  // theme
$lightblue: #D8E6F0 !default;	// theme
$yellow:    #f3a519 !default;	// theme

// other colours
// $blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "white":      $white,			// theme
  "red":        $red,			// theme
  "blue":       $blue,			// theme
  "lightblue": 	$lightblue,		// theme
  "yellow": 	$yellow,		// theme
  "black": 		$black,			// theme
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $yellow !default;
$tertiary:     	$lightblue !default;
$success:       $green !default;
$info:          $lightblue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "tertiary":  $tertiary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;
// scss-docs-end theme-colors-map


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: .25rem,
    2: .5rem,
    3: .75rem,
    4: 1rem,
    5: 1.25rem,
    6: 1.5rem,
    7: 1.75rem,
    8: 2rem,
    9: 2.25rem,
    10: 2.5rem,
    11: 2.75rem,
    12: 3rem,
	13: 3.25rem,
	14: 3.5rem,
	15: 3.75rem,
	16: 4rem,
	17: 4.25rem,
	18: 4.5rem,
	19: 4.75rem,
	20: 5rem,
  ),
  $spacers
);


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           'Domine', serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$icon-font-family: 			  'Font Awesome 6 Pro';
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$line-height-base:            1.33 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2.5 !default;
$h3-font-size:                $font-size-base * 1.875 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base * 1.125 !default;

$headings-margin-bottom:      $spacer * 1.25 !default;
$headings-font-family:        var(--ff-headings-font-family) !default;
$headings-font-weight:        600 !default;
$headings-line-height:        1.1 !default;
$headings-color:              null !default;

$link-color:                  $primary !default;
$link-hover-color: 		  	  darken($primary, .2) !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-semibold:        500 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          700 !default;

$headings-margin-bottom:      $spacer * .5 !default;
$paragraph-margin-bottom:     1.5rem !default;


// Components
//
// Define common padding and border radius sizes and more.

$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;

// Owl Carousel Image Path
$owl-image-path: "../images/" !default;

// badge
$badge-padding-y:                   .35rem;
$badge-padding-x:                   1rem;
$badge-font-size:                   0.719rem;
$badge-font-weight:                 600;

// Buttons
$input-btn-padding-x: 				1.5rem;
$input-btn-font-size: 				.875rem;

// breadcrumb
$breadcrumb-font-size:              0.75rem;
$breadcrumb-divider-color:          $gray-500;
$breadcrumb-active-color:           $gray-500;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding-x:         .5rem;
$breadcrumb-divider: "\f054";

// pagination
$pagination-border-color:           none;
$pagination-active-color:           $link-hover-color;
$pagination-disabled-color:         $black;
$pagination-focus-color:            $link-hover-color;
$pagination-hover-color:            $link-hover-color;
$pagination-hover-bg:               none;
$pagination-focus-bg:               none;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
) !default;
// scss-docs-end grid-breakpoints


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1484px
) !default;
// scss-docs-end container-max-widths